In [86]:
import pandas as pd
import ssl
ssl._create_default_https_context = ssl._create_unverified_context

In [87]:
data = pd.read_html('https://www.officialcharts.com/chart-news/the-best-selling-albums-of-all-time-on-the-official-uk-chart__15551/', header=0)

In [88]:
#catch our data frame object
type(data[0])
#data[0]

pandas.core.frame.DataFrame

In [89]:
#AD.1__Zamień nagłówki kolumn na polskie odpowiedniki: ['TYTUŁ','ARTYSTA','ROK','MAX POZ']
data[0].columns = ['POS', 'Tytuł','Artysta', 'Rok', 'MAX POZ']
#data[0]      #odkomentować dla pokazania calej tabeli po modyfykacji
data[0].columns   #Nazwy nowych kolumn po modyfikacji

Index(['POS', 'Tytuł', 'Artysta', 'Rok', 'MAX POZ'], dtype='object')

In [90]:
# TODO ....
#AD.2__Ilu pojedynczych artystów znajduje się na liście?
# count occurrences a particular column
occur = data[0].groupby(['Artysta']).count() #grupujemy po kolumnie Artysta i zliczamy, liczba wierszy occur to ilosc artysow
print("Na liscie znajduje się "+str(len(occur))+" artystow")

Na liscie znajduje się 47 artystow

In [91]:
#AD.3__Które zespoły pojawiają się najczęściej na liście?
occur = data[0].groupby(['Artysta']).count()
#zliczamy ilosc wystapien kazdego albumu
#occur    #zakomentowane aby ekranu nie zaśmiecać

In [92]:
#Znajdujemy max liczbę wystąpień
max_occur = occur['POS'].max()
#max_occur   #odkomentować dla pokazania max liczby wystąpień

In [93]:
#Wypisujemy te, które występują maksymalną liczbę razy
occur[occur['POS']==max_occur]

           POS  Tytuł  Rok  MAX POZ
Artysta
COLDPLAY     3      3    3        3
TAKE THAT    3      3    3        3

In [94]:
#AD.4__Zmień nagłówki kolumn, tak aby każdy z nich rozpoczynał się od wielkiej litery, 
#a pozostałe były wprowadzone małymi literami.

In [95]:
#Kolumny przez zmianą
data[0].columns

Index(['POS', 'Tytuł', 'Artysta', 'Rok', 'MAX POZ'], dtype='object')

In [96]:
new_columns = []
for column in data[0].columns:
    new_columns.append(column.capitalize())
#Mamy nową listę z pożądanymi nazwami kolumn
new_columns

['Pos', 'Tytuł', 'Artysta', 'Rok', 'Max poz']

In [97]:
#zamieniamy na raz wszystkie kolumny
data[0].columns = new_columns
data[0].columns

Index(['Pos', 'Tytuł', 'Artysta', 'Rok', 'Max poz'], dtype='object')

In [98]:
#AD.5_Wyrzuć z tabeli kolumnę ‘Max Poz’.

In [99]:
#Po prostu uzywamy funkcji drop
data[0].drop('Max poz', inplace=True, axis=1)
#data[0]   #zakomentowane aby nie zasmiecac

In [108]:
#AD.6_W którym roku wyszło najwięcej albumów znajdujących się na liście?
#data[0]

In [119]:
a = data[0].groupby(['Rok']).count()
max_albums = a[a[]]
#max_albums = a['Artysta'].values.max()
#max_year = a['Pos'].max()
a
#max_albums

      Pos  Tytuł  Artysta
Rok
1965    1      1        1
1967    1      1        1
1970    1      1        1
1973    2      2        2
1975    1      1        1
1977    3      3        3
1978    1      1        1
1981    1      1        1
1982    1      1        1
1984    1      1        1
1985    1      1        1
1986    1      1        1
1987    4      4        4
1988    1      1        1
1989    1      1        1
1990    1      1        1
1991    2      2        2
1992    2      2        2
1995    2      2        2
1996    1      1        1
1997    3      3        3
1998    3      3        3
1999    1      1        1
2000    4      4        4
2001    1      1        1
2002    2      2        2
2003    1      1        1
2004    3      3        3
2005    2      2        2
2006    3      3        3
2007    1      1        1
2008    2      2        2
2009    1      1        1
2010    1      1        1
2011    1      1        1
2014    1      1        1
2015    1      1        1

In [30]:
#AD.7_Ile albumów wydanych między 1960 a 1990 rokiem włącznie znajduje się na liście?

In [31]:
#AD.8_W którym roku wydany został najmłodszy album na liście?

In [ ]:
#AD.9_Przygotuj listę najwcześniej wydanych albumów każdego artysty, który znalazł się na liście.