In [1]:
import pandas as pd
import numpy as np

In [2]:
labels = ['Category','Project_Title','Pledged','Country','Date_Start']

In [3]:
category = ['Games','Games','Games','Film&Video','Film&Video','Film&Video']

In [4]:
title = ['The Last Faith','Magic Puzzles','Dinosaur Fossil Hunter','Beyond your eyes','5151','8-bit wars']

In [5]:
pledged = [92774,2873519,7962,276,23963,6950]

In [6]:
country = ['UK','USA','Poland','Bulgaria','USA','UK']

In [7]:
date_start = ['2020-03-21','2020-03-11','2020-04-16','2022-02-09','2020-04-10','2020-03-19']

In [23]:
random_nums = [22,33,66,23,55,12]
#ta kolumna to moja inwencja (spoza kursu Kodilli, chcialem zobaczyc jak zadzialaja funkcje agregujace)

In [24]:
df = pd.DataFrame({'Category': category,'title':title,'pledged':pledged,'Country': country,'Date_Start': date_start,'Random_Nums':random_nums})

In [25]:
df

,Category,title,pledged,Country,Date_Start,Random_Nums
0,Games,The Last Faith,92774,UK,2020-03-21,22
1,Games,Magic Puzzles,2873519,USA,2020-03-11,33
2,Games,Dinosaur Fossil Hunter,7962,Poland,2020-04-16,66
3,Film&Video,Beyond your eyes,276,Bulgaria,2022-02-09,23
4,Film&Video,5151,23963,USA,2020-04-10,55
5,Film&Video,8-bit wars,6950,UK,2020-03-19,12

In [26]:
df.groupby('Category')

In [27]:
df

,Category,title,pledged,Country,Date_Start,Random_Nums
0,Games,The Last Faith,92774,UK,2020-03-21,22
1,Games,Magic Puzzles,2873519,USA,2020-03-11,33
2,Games,Dinosaur Fossil Hunter,7962,Poland,2020-04-16,66
3,Film&Video,Beyond your eyes,276,Bulgaria,2022-02-09,23
4,Film&Video,5151,23963,USA,2020-04-10,55
5,Film&Video,8-bit wars,6950,UK,2020-03-19,12

In [28]:
df.groupby('Category').sum()

            pledged  Random_Nums
Category
Film&Video    31189           90
Games       2974255          121

In [29]:
df.groupby('Category').mean()

                  pledged  Random_Nums
Category
Film&Video   10396.333333    30.000000
Games       991418.333333    40.333333

In [30]:
df.groupby('Category').count()

            title  pledged  Country  Date_Start  Random_Nums
Category
Film&Video      3        3        3           3            3
Games           3        3        3           3            3

In [34]:
print(type(df['Date_Start'][0]))
#tutaj nasza data jest jeszcze zwyklym stringiem

<class 'str'>

In [35]:
df['Date_Start'] = pd.to_datetime(df['Date_Start'])

In [36]:
print(type(df['Date_Start'][0]))
#tutaj nasza data zostala zamieniona

<class 'pandas._libs.tslibs.timestamps.Timestamp'>

In [42]:
pd.Grouper(key='Date_Start',freq='M')

TimeGrouper(key='Date_Start', freq=<MonthEnd>, axis=0, sort=True, closed='right', label='right', how='mean', convention='e', origin='start_day')

In [43]:
df.groupby(pd.Grouper(key='Date_Start',freq='M')).sum()

            pledged  Random_Nums
Date_Start
2020-03-31  2973243           67
2020-04-30    31925          121
2020-05-31        0            0
2020-06-30        0            0
2020-07-31        0            0
2020-08-31        0            0
2020-09-30        0            0
2020-10-31        0            0
2020-11-30        0            0
2020-12-31        0            0
2021-01-31        0            0
2021-02-28        0            0
2021-03-31        0            0
2021-04-30        0            0
2021-05-31        0            0
2021-06-30        0            0
2021-07-31        0            0
2021-08-31        0            0
2021-09-30        0            0
2021-10-31        0            0
2021-11-30        0            0
2021-12-31        0            0
2022-01-31        0            0
2022-02-28      276           23

In [46]:
df.groupby(pd.Grouper(key='Date_Start',freq='Y')).agg({'pledged':'sum','title':'count','Country':'count'})

            pledged  title  Country
Date_Start
2020-12-31  3005168      5        5
2021-12-31        0      0        0
2022-12-31      276      1        1

In [47]:
df.groupby(['Country','Category']).sum()

                     pledged  Random_Nums
Country  Category
Bulgaria Film&Video      276           23
Poland   Games          7962           66
UK       Film&Video     6950           12
         Games         92774           22
USA      Film&Video    23963           55
         Games       2873519           33