In [ ]:
import pandas as pd

In [9]:
# assign data
data = pd.DataFrame({'Section': ['A', 'A', 'A', 'B', 'B',
                                 'B', 'C', 'C', 'C'],
                     'Teacher': ['Kakeshi', 'Kakeshi', 'Iruka',
                                 'Kakeshi', 'Kakeshi', 'Kakeshi',
                                 'Iruka', 'Iruka', 'Guy']})

In [10]:
# display dataframe
print('Data:')
display(data)

Data:

  Section  Teacher
0       A  Kakeshi
1       A  Kakeshi
2       A    Iruka
3       B  Kakeshi
4       B  Kakeshi
5       B  Kakeshi
6       C    Iruka
7       C    Iruka
8       C      Guy

In [17]:
print('Occurrence counts of particular columns:')
 
# count occurrences a particular column
occur = data.groupby(['Section']).size()

Occurrence counts of particular columns:

In [18]:
# display occurrences of a particular column
display(occur)

Section
A    3
B    3
C    3
dtype: int64

In [19]:
# count occurrences a particular column
occur = data.groupby(['Teacher']).size()

In [20]:
# display occurrences of a particular column
display(occur)

Teacher
Guy        1
Iruka      3
Kakeshi    5
dtype: int64